*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family:Arial, Helvetica, sans-serif;
}



input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  padding: 20px;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.background {
  position: absolute;
  top:0px;
  left: 0px;
  width: 100vw;
  height: 750px;
  z-index: -1;
  background: #775e62;
  transform-origin: top left;
  transform: skewY(-15deg);
}




.about {
  padding: 50px;
  min-height: 700px;
}


.aboutInfo{
  font: 1.5rem ;
  background-color: beige;
  margin: 10px;
  padding: 20px;
}

.myPhoto {
  z-index: 1;
  position: absolute;
  max-width: 100%;
  height: auto;
}

.float {
  float: left;
  height: 600px;
  width: 600px;
}

.myName {
  position: absolute;
  transform: translatey(-100%);
  color: #151422;
  font-size: 30px;
  font-size: 5rem;
  font-weight: bold;
  padding: 10px;
  text-shadow: rgb(74, 74, 74) -2px 2px 5px;
}





.work {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 40px; 
} 
.projectContainer {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.project {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.623);
  text-align: center;
}
.projectImage {
  background-color: #110a1d;
  color: white;
  height: 300px;
}



footer {
  display: flex;
  flex-wrap: wrap;
  background-color:#775e62;
  justify-content: center;
  align-content: center;
  width: 100vw;
}


footer > * , .work > * {
  padding: 20px;
}

footer > * {
  color: white;
  margin: 10px;
}
.footerImage {
 
  max-width: 100%;
  
  
}

.contactInfo {align-items: center;}




.icon {
  width: 32px;
  margin: 15px;
}

.white {
  filter: invert(100%) sepia(27%) saturate(2%) hue-rotate(349deg) brightness(109%) contrast(100%) ;
}

.iconContainer, .projectHeader, .contactInfo {
  display: flex;
}

.projectHeader {
  justify-content: space-between;
}

@media (max-width: 1000px) {
 
 .myPhoto {
  transform-origin: top left;
  transform: scale(0.75);
  position: relative;
  
 }

 .myName {
  font-size: 4rem;
  transform: translate(50%, -600px);
 }

 .aboutInfo{
  transform: translateY(-525px);
}
 
.float {
  width: 455px;
  height: 338px;
}
 
.work {
  transform: translateY(-600px);
}

footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  
}

@media (max-width: 650px){
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutInfo {
  display: flex;
  flex-direction: column;
  transform: translateY(0);


}

.myPhoto {
  transform: translate(0);

}

.myName {
  transform: translateY(-175px);
  font-size: 3rem;
}

.float {
  display: none;
}

.work {
  transform: translate(0);
  max-width: 300px ;
}

footer {
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.footerImage {
  
}

}