*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
 
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    padding: 10px;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
body {
    display: flex;
    flex-direction: column;
}



.about {
    display: flex;
    padding: 40px; 
}

.background {
    position: absolute;
    width: 100vw;
    height: 450px;
    z-index: -1;
    background: #775e62;
    transform-origin: top left;
    transform: skewY(-15deg);
}

.myPhoto img {

 
 

}

.myName {
    position: absolute;
    transform: translatey(-100%);
    color: #110a1d;
    font-size: 30px;
    font-size: 5rem;
    font-weight: bold;
    padding: 10px;
    text-shadow: rgb(74, 74, 74) -2px 2px 5px;
}

.aboutInfo {
    background-color: beige;
    margin: 40px;
    transform: translateX(-60px);

    
}
.work {
   display: flex;
   flex-direction: column;
   padding: 40px; 
} 
.projectContainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.project {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.623);
}
.projectImage {
    background-color: #110a1d;
    color: white;
    height: 300px;
}

footer {
    display: flex;
    background-color:#775e62;
    justify-content: space-between;
}


footer div , .about > *, .work > * {
    padding: 10px;
}

footer > * {
    color: white;
}
.footerImage {
    margin: 50px;
    
}




.icon {
    width: 32px;
    margin: 5px;
}

.iconContainer, .projectHeader, .contactInfo {
    display: flex;
}

.projectHeader {
    justify-content: space-between;
}